@font-face {
  font-family: "Delcom";
  src: url("./fonts/Delcom.ttf") format("truetype");
}
@font-face {
  font-family: "seguibl";
  src: url("./fonts/seguibl.ttf") format("truetype");
}
@font-face {
  font-family: "DAMENTIONDEMOREGULAR";
  src: url("./fonts/DamentionDemoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "ATOMED";
  src: url("./fonts/Atomed.ttf") format("truetype");
}
@font-face {
  font-family: "LibreFranklin-ExtraLightItalic";
  src: url("./fonts/LibreFranklin-ExtraLightItalic.ttf") format("truetype");
}
html body {
  font-family: "LibreFranklin-ExtraLightItalic";
}
