#study {
  height: 100vh;
  background-color: #291669;
  /* background-image: url(/z.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.study-title,
.study-content {
  color: white;
  text-align: center;
}
.study-title {
  font-family: "LibreFranklin-ExtraLightItalic";
  font-size: 2.25rem;
}
.study-content {
  font-family: "LibreFranklin-ExtraLightItalic";
}
.my-border {
  /* border: 1rem solid rgba(0, 0, 0, 0.5); */
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.study-img {
  width: 50%;
}
