#landing {
  height: 100vh;
  background-image: url(/zzzz.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-title,
.about-content {
  color: white;
  text-align: center;
}
.about-title {
  font-family: "seguibl";
  font-size: 3rem;
}
.about-content {
  font-family: "seguibl";
}
.my-border {
  border: 1rem solid rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
}
.laning-img {
  width: 50%;
}
