#landing {
  height: 106vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background-image: url(/zz.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-title,
.about-content {
  color: white;
  text-align: center;
}
.about-title {
  font-family: "seguibl";
  font-size: 3rem;
}
.about-content {
  font-family: "seguibl";
}
.my-border {
  border: 1rem solid rgba(34, 42, 53, 0.8);
  border-radius: 5rem;
}
.laning-img {
  width: 50%;
}
