#why {
  height: 100vh;

  background-image: url(/why.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.why-title,
.why-content {
  color: white;
}
.why-title {
  font-family: "LibreFranklin-ExtraLightItalic";
  font-size: 3.117vw;
}
.why-content {
  font-family: "LibreFranklin-ExtraLightItalic";
  font-size: 1.5rem;
}
.why-img {
  width: 100%;
}
li::marker {
  color: #ffffff;
}

/* Mobile Devices */
@media (max-width: 767px) {
  #why {
    height: auto;
    padding-bottom: 20px;
  }

  .why-title {
    font-size: 6vw;
  }

  .why-content {
    font-size: 4.5vw;
  }

  .why-img {
    width: 80%;
  }
}
