#coming-soon {
  height: 100vh;
  background-image: url(/coming-soon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coming-soon-title {
  text-align: center;
  margin: 25px;
  font-family: "Delcom";
  font-size: 2rem;
  color: #cb6ce6;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-item {
  text-align: center;
  margin: 0 10px;
  transition: transform 0.2s ease-in-out;
}

.countdown-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #8f75e6;
  border: 0.25rem solid rgba(255, 255, 255, 1);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.countdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

.countdown-value {
  margin-bottom: 6px;
}

.countdown-label {
  font-size: 14px;
}

.coming-soon-text {
  text-align: center;
  margin: 25px;
  color: #fff;
}

/* Mobile Devices */
@media (max-width: 767px) {
  .coming-soon-title {
    font-size: 4vw;
  }

  .coming-soon-text {
    font-size: 4.5vw;
    margin: 15px;
    padding: 1rem;
  }

  .countdown-box {
    width: 60px;
    height: 60px;
    font-size: 16px;
  }

  .countdown-value {
    margin-bottom: 3px;
  }

  .countdown-label {
    font-size: 10px;
  }
}

/* Tablets and Larger Devices */
@media (min-width: 768px) {
  .coming-soon-title {
    font-size: 1.667vw;
  }

  .coming-soon-text {
    font-size: 1.458vw;
    margin: 25px;
  }
}

/* Larger Screens */
@media (min-width: 1200px) {
  .coming-soon-title {
    font-size: 1.25vw;
  }

  .coming-soon-text {
    font-size: 1vw;
    margin: 25px;
  }
}
