#study {
  height: 100vh;
  background-image: url(/study.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.study-title,
.study-content {
  color: white;
  text-align: center;
}

.study-title {
  font-family: "LibreFranklin-ExtraLightItalic";
  font-size: 2.117vw;
}

.study-content {
  font-family: "LibreFranklin-ExtraLightItalic";
  font-size: 1.5rem;
}

.study-img {
  width: 100%;
}

.study-btn {
  background-color: #8f75e6;
  border-color: #8f75e6;
}

/* Mobile Devices */
@media (max-width: 767px) {
  .study-title {
    font-size: 6vw;
  }

  .study-content {
    font-size: 4.5vw;
  }

  .study-img {
    width: 100%;
  }

  /* Adjust height and padding for better spacing on smaller screens */
  #study {
    min-height: auto;
    height: auto;
    padding-bottom: 20px;
  }
  .study-btn {
    padding: 0.25rem;
  }
}
