#Smart {
  height: 100vh;
  background-image: url(/smart.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.smart-title,
.smart-content {
  color: white;
  text-align: center;
}

.smart-title {
  font-family: "LibreFranklin-ExtraLightItalic";
  font-size: 3.117vw;
}

.smart-content {
  font-family: "LibreFranklin-ExtraLightItalic";
  font-size: 1.5rem;
}

.smart-img {
  width: 25vw;
}

/* Mobile Devices */
@media (max-width: 767px) {
  .smart-title {
    font-size: 6vw;
  }

  .smart-content {
    font-size: 4.5vw;
  }

  .smart-img {
    width: 90%;
  }

  /* Adjust height and padding for better spacing on smaller screens */
  #Smart {
    height: auto;
    padding-bottom: 20px;
  }
}
