@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.breathing-div {
  animation: breathe 2s ease-in-out 1;
}

@keyframes slideToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slideRight {
  animation: slideToRight 1s ease-in-out;
}

#landing {
  height: 100vh;
  background-image: url(/landing.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-title,
.about-content {
  color: white;
  text-align: center;
}

/* Mobile Devices */
.about-title {
  font-size: 5vw;
}

.about-content {
  font-size: 4.5vw;
}

.landing-img {
  width: 25vw;
}

/* Tablets and Larger Devices */
@media (min-width: 768px) {
  .about-title {
    font-size: 2.5vw;
  }

  .about-content {
    font-size: 2.25vw;
  }

  .landing-img {
    width: 20vw;
  }
}

/* Desktop Screens and Larger */
@media (min-width: 1200px) {
  .about-title {
    font-size: 2vw;
  }

  .about-content {
    font-size: 1.4vw;
  }

  .landing-img {
    width: 20vw;
  }
}
