#landing {
  height: 100vh;
  background-image: url(/landing.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-title,
.about-content {
  color: white;
  text-align: center;
}

/* Mobile Devices */
.about-title {
  font-size: 5vw;
}

.about-content {
  font-size: 4.5vw;
}

.laning-img {
  width: 25vw;
}

.my-border {
  padding: 8vw;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10vw;
}

.breathing-div {
  animation: breathe 4s infinite ease-in-out;
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Tablets and Larger Devices */
@media (min-width: 768px) {
  .about-title {
    font-size: 2.5vw;
  }

  .about-content {
    font-size: 2.25vw;
  }

  .laning-img {
    width: 25vw;
  }

  .my-border {
    padding: 3vw;
    border-radius: 2vw;
  }
}

/* Desktop Screens and Larger */
@media (min-width: 1200px) {
  .about-title {
    font-size: 2vw;
  }

  .about-content {
    font-size: 1.4vw;
  }

  .laning-img {
    width: 20vw;
  }

  .my-border {
    padding: 1.5vw;
    border-radius: 1vw;
  }
}
