p {
  margin: 0;
}

.foot-img:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  transform: scale(1.3);
}

.footer {
  background: #000;
}

.foot-img {
  filter: invert(100%);
}
