#team {
  height: 100vh;
  background-image: url(/team.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swappable-product-cards {
  /* max-width: 41.667vw; */
  margin: 0 auto;
}

.product-card {
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  background-color: #161c29;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  height: 50vh;
}

.product-card h3 {
  color: white;
  margin-top: 5px;
}

.product-card p {
  color: #ffffff80;
  font-size: 14px;
}
.team-title {
  font-size: 2.5rem;
}

/* Mobile Devices */
@media (max-width: 767px) {
  #team {
    height: auto;
    padding-bottom: 20px;
  }

  .swappable-product-cards {
    max-width: 90vw;
  }

  .product-card {
    padding: 15vw;
    border-radius: 2vw;
    margin: 2vw;
  }

  .product-card img {
    height: 35vh;
    width: 100%;
  }

  .product-card h3 {
    font-size: 8.5vw;
    margin-top: 1vw;
  }

  .product-card p {
    font-size: 4.5vw;
  }
}

/* Tablet Devices (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .swappable-product-cards {
    max-width: 90%;
  }

  .product-card {
    flex: 0 0 33.33%;
  }

  .product-card img {
    width: 100%;
    max-height: 30vw;
  }

  .product-card h3 {
    font-size: 2vw;
    margin-top: 1.5vw;
  }

  .product-card p {
    font-size: 1.8vw;
  }
}
