.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
  font-size: 2.5rem;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.nav-link:hover svg {
  fill: rgba(255, 255, 255, 0.75);
}

svg {
  fill: white;
}

.cart-icon {
  margin: 0.5rem;
  filter: invert(100%);
}

.cart:hover .cart-icon {
  transition-duration: 300ms;
  filter: invert(100%) opacity(75%);
}

.enter:hover {
  transition-duration: 300ms;
  background-color: #ffffff;
}

.enter img {
  filter: invert(100%);
}

.enter:hover img {
  transition-duration: 300ms;
  filter: invert(0%);
}

.dropdown-toggle::after {
  content: none;
}

/* Mobile Devices */
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  .nav-link {
    font-size: 2rem;
  }
}

/* Tablets and Larger Devices */
@media (min-width: 768px) {
  .navbar-brand {
    font-size: 1.75rem;
  }
}

/* Larger Screens */
@media (min-width: 1200px) {
  .navbar-brand {
    font-size: 1.25vw;
  }
}
